<!DOCTYPE html>
<html>
<head>
  <title>Антошка</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
		<%= image_tag("rails.png") %>
  </div>
  <div id="menu">
	<ul>
		<%= content_tag(:li, link_to("Главная", root_path)) %>
		<%= content_tag(:li, link_to("О компании", about_path)) %>
	</ul>
  </div>
  <div id="content">
			
    <%= yield %>

  </div>
</body>
</html>
