<!DOCTYPE html>
<html>
<head>
  <title>Антошка</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="body">
	
    <div id="header">
	  <div id="logo"> 
	    <%= image_tag("antoshka_comic_sans.png") %>
	  </div>
	  <div id="contacts">
		<h1>8 (812) 602 16 44</h1>
		<h1>8 (921) 915 62 42</h1>
		<h1>Бесплатный для регионов - 8 (800) xxx xx xx</h1>
	  </div>
    </div>

    <div id="menu">
	
	  <ul>
	 	<%= content_tag(:li, link_to("Главная", root_path, :style => 'color:#F30')) %>
		<%= content_tag(:li, link_to("О компании", about_path, :style => 'color:#F90')) %>
	  </ul>
	
    </div>

    <div id="content">
			
      <%= yield %>

    </div>

  </div>
</body>
</html>
